@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-black lg:bg-[#4E4E4E];
}

@media (min-wdith: 768px) {
  body {
    background-color: #4e4e4e;
  }
}

div::-webkit-scrollbar {
  display: none;
}
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox appearance */
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

/* Change background on hover */
.custom-checkbox .checkmark:hover {
  background-color: #ddd;
}

/* When the checkbox is checked, display a checkmark */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #ffe332; /* Checked color */
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
